<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <%- include head %>
    <style media="screen">
      .box{
        max-width: 900px;
        height:200px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h1><%= title %></h1>
      <table class="table table-hover text-center">
        <tr>
          <td>账号</td>
          <td>姓名</td>
          <td>性别</td>
          <td>年龄</td>
          <td>生日</td>
          <td>密码</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2</td>
          <td>2</td>
        </tr>
      </table>
    </div>
  </body>
</html>
